<div class="container">

    <div class="card border-0 shadow my-5">

        <div class="card-body p-5" style="text-align:center">
            <h1 class="font-weight-light">
                <%= @review.movie.title %> <a href="/movies/<%= @review.movie.id %>"><button class="btn btn-primary btn-md">View Movie</button></a>

                <div style="font-size:.5em">
                    <strong>Posted By:</strong>
                    <a href="/users/<%= @review.user.id %>"><%= @review.user.username %></a>
                </div>
            </h1>

            <hr>    

            <p class="lead">
                <div style="padding-bottom:10px">
                    <strong>Review Rating:</strong>
                    <%= @review.rating %>
                </div>

                <div style="padding-bottom:5px">
                    <strong>Review Summary:</strong>
                    <%= @review.content %>
                </div>

                <div style="padding-top:10px;">
                    <a href="/reviews/<%= @review.id %>/edit"><button class="btn btn-primary btn-sm">Edit Review</button></a>
                </div>

                <div style="padding-top:10px;">
                    <form action="/reviews/<%= @review.id %>/delete" method="POST">
                        <input id="hidden" type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-sm">Delete Review</button>
                    </form> 
                </div>

            </p>

            <div style="height: 100px"></div>

        </div>
    </div>


</div>
